body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("anhnen.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    max-width: 95vw;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.title {
    font-size: 50px;
    color: #00ffff;
}

.date {
    font-size: 40px;
    font-weight: bold;
    margin: 12px 0;
}

.time, .place {
    font-size: 20px;
    margin: 6px 0;
    font-weight: bolder;
}

.message {
    margin-top: 16px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    font-size: 25px;
}
.avatar {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2f6f5f;
    margin-bottom: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
